#background-video {
    opacity: 40%;
    width: 99vw;
    height: 100vh;
    object-fit: cover;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

#Titolo {
    font-size: 70px;
    padding-top: 300px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12, 158, 177);
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

body {
    background-color: rgb(41, 41, 41);
    margin: 0px;
    animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
}

.Bottone {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 15px 60px;
    background-color:rgb(15, 197, 221);
    cursor: pointer;
    transition: all 0.5s;
}

.Bottone:hover { 
    background-color: rgb(12, 158, 177);
    box-shadow: 1px 1px 98px 0px rgb(12, 158, 177);
    box-shadow: 1px 1px 62px 14px rgb(12, 158, 177);
    -webkit-box-shadow: 1px 1px 62px 14px rgb(12, 158, 177);
    -moz-box-shadow: 1px 1px 62px 14px rgb(12, 158, 177);
}

#DivBottoni {
    text-align: center;
    padding-bottom: 400px;
}

#TopDiv {
    background-v
}

#idk {
    font-size: 150%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 150px;
    padding-bottom: 100px;
}

#midissocio {
    padding-bottom: 250px;
}

.Big {
    font-size: 100px;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    color: rgb(15, 197, 221);
}

#uwu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#troyclient {
    background-color: rgb(15, 197, 221);
    padding: 20px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
